---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from "../sections/Hero.astro";
import Project from '../sections/Project.astro';
import Phase from '../sections/Phase.astro';
import HowToBuy from '../sections/HowToBuy.astro';
---

<Layout title="Welcome to Astro.">
	<main id="home">
		<Nav />
		<Hero />
		<Project />
		<Phase />
		<HowToBuy />
	</main>
</Layout>

