---
import { Image } from "astro:assets";
import heroImg from "../assets/img-hero.png";
import AndromedaImage from "../assets/img-3.jpeg";
import Stars from "../components/Stars.astro";

import { Icon } from "astro-icon/components";
---

<section>
  <div class="absolute w-full h-full -z-50">
    <Image
      class="w-full h-full object-cover"
      src={AndromedaImage}
      alt="Andromeda"
      style="max-width: 1366px;"
    />
  </div>
  <Stars />
  <div
    class="flex flex-col justify-start items-center text-center gap-10 md:gap-5"
  >
    <div
      class="lg:max-w-lg lg:w-full mb-5 md:mb-0 md:w-1/2 w-3/6 animate-pulse"
    >
      <Image src={heroImg} alt="hero" />
    </div>
    <h1
      class="text-6xl font-extrabold leading-9 tracking-tight mb-3 text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
    >
      $BORI
    </h1>
    <h1
      class="text-3xl font-extrabold leading-9 tracking-tight mb-3 text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
    >
      Your Cosmic Companion!
    </h1>
    <div class="flex gap-5">
      <a target="_blank" href="https://twitter.com/Bori_solana">
        <Icon name="logo-twitter" width={50} height={50} />
      </a>
      <a target="_blank" href="https://t.me/borisolana">
        <Icon name="logo-telegram" width={50} height={50} />
      </a>
      <a target="_blank" href="https://tiktok.com/@bori.solana">
        <Icon name="logo-tiktok" width={50} height={50} />
      </a>
    </div>
    <div class="dark:text-gray-100 border p-2 bg-gray-500">
      <div>
        <p class="text-2xl">Comming soon!</p>
        <p class="text-2xl">Pre-Sale</p>
        <a target="_blank" class="flex text-2xl text-pink-200 font-extrabold leading-9" href="https://www.pinksale.finance/"
          >Pinksale.finance</a
        >
      </div>
    </div>
  </div>
</section>
