---
import Stars from "../components/Stars.astro";
---

<section id="howToBuy">
  <Stars />
  <div class="flex flex-col justify-center items-start p-10 gap-10">
    <h1>How to Buy</h1>

    <ul class="contaier flex flex-col gap-4">
      <li class="border p-2">
        <div>
          <h1>Create a wallet</h1>
          <p>
            Go to app store, google play or web extension and download phantom
            or any wallet of your choice that supports solana. Phantom?
          </p>
        </div>
      </li>
      <li class="border p-2">
        <div>
          <h1>Buy $SOL first</h1>
          <p>
            To buy $BORI you need solana, you can either buy on a exchange or
            bridge some solana to your wallet.
          </p>
        </div>
      </li>
      <li class="border p-2">
        <div>
          <div>
            <h1>Comming soon!</h1>
            <p class="text-gray-600">Buy $BORI now</p>
          </div>
          <p class="text-gray-600">
            Go to Raydium, Jupiter or any exchange that supports solana and
            paste our contract address then click swap. Now you have your $BORI
            ticket to hold on to the billions.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
