---
import Stars from "../components/Stars.astro";
import Logo from "../components/Logo.astro";
---

<section id="howToBuy">
  <Stars />
  <div class="flex flex-col justify-center items-start p-10 gap-10">
    <h1
      class="text-4xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
    >
      How to Buy
    </h1>

    <ul class="contaier flex flex-col gap-4">
      <li class="border p-2">
        <div>
          <h1
            class="font-bold list-disc text-2xl leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal mb-3 mt-3"
          >
            Create a wallet
          </h1>
          <p
            class="font-bold list-disc text-1xl tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
          >
            Go to app store, google play or web extension and download phantom
            or any wallet of your choice that supports solana. Phantom?
          </p>
        </div>
      </li>
      <li class="border p-2">
        <div>
          <h1
            class="font-bold list-disc text-2xl leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal mb-3 mt-3"
          >
            Buy $SOL first
          </h1>
          <p
            class="font-bold list-disc text-1xl tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
          >
            To buy $BORI you need solana, you can either buy on a exchange or
            bridge some solana to your wallet.
          </p>
        </div>
      </li>
      <li class="border p-2">
        <div>
          <div>
            <span
              class="text-1xl font-extrabold text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
              >Comming soon!</span
            >
            <h1
              class="font-bold list-disc text-2xl tracking-tight text-gray-900 dark:text-gray-500 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal mb-3 mt-3"
            >
              Buy $BORI now
            </h1>
          </div>
          <p
            class="font-bold list-disc text-1xl tracking-tight text-gray-900 dark:text-gray-500 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
          >
            Go to Raydium, Jupiter or any exchange that supports solana and
            paste our contract address then click swap. Now you have your $BORI
            ticket to hold on to the billions.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
