---
import { Image } from "astro:assets";
import prjectImg from "../assets/img-project.png";
import Stars from "../components/Stars.astro";
---

<section id="prject" class="flex flex-col justify-center items-start p-10">
  <Stars />
  <Image
    class="animate-bounce-slow"
    src={prjectImg}
    alt="bori prject image"
    width={150}
  />
  <div>
    <h1
      class="text-3xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
    >
      Project Bori
    </h1>
    <p
      class="text-1xl font-extrabold leading-9 tracking-tight text-gray-900 dark:text-gray-100 sm:text-4xl sm:leading-10 md:text-5xl md:leading-normal"
    >
      Woof! As an intergalactic space adventurer, I am always ready to explore
      the cosmos with my trusty canine companion by my side. Together, we'll
      conquer galaxies and make new friends among the stars! With our incredible
      stretchy powers, we can overcome any obstacle that comes our way
    </p>
  </div>
</section>
